<section>
    <h2>buscar gifs</h2>
        <label for="search_form">Busca aquí</label>
        <input type="search" id="search_form" placeholder="Escribe algo" #txtSearch
        (keyup.enter)="goToSearch(txtSearch.value)"
            class="bg-transparent w-full focus:outline-none pr-4 font-semibold border-0 focus:ring-0 px-0 py-0"
            name="query">
        <button class="flex flex-row items-center justify-center min-w-[130px] px-4 rounded-full font-medium tracking-wide border disabled:cursor-not-allowed disabled:opacity-50 transition ease-in-out duration-150 text-base bg-black text-white border-transparent py-1.5 h-[38px] -mr-3on"
        (click)="goToSearch(txtSearch.value)">
            Buscar
        </button>
    
</section>

<h3>Resultados de la búsqueda</h3>
<section>
    <gifs-list [imagesFromTrending]="gifsSearch()"></gifs-list>
</section>