@if(appService.catalogLoading()) {
      <p>Descargando catálogo, por favor espere...</p>
      <p>Progreso: {{ appService.catalogProgress() }}%</p>
      <div class="progress-bar-container">
        <div class="progress-bar" [style.width.%]="appService.catalogProgress()"></div>
      </div>
    } @else {
      <h2>Bienvenido a la Audiocinemateca</h2>
      <p>Catálogo listo para disfrutar.</p>
      <button (click)="goToCatalog()">Ir al Catálogo</button>
      <button (click)="loadCatalog()">Recargar Catálogo (para prueba)</button>
    }