---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Vida con sentido</title>
	</head>
	<body>
		<h1>Vida con sentido</h1>
		<p>Este es el blog de vida con sentido</p>
		<p>Disfrute</p>
	</body>
</html>
