<h3>Películas</h3>
<div *ngIf="peliculas && peliculas.length > 0; else noPeliculas">
  <ul class="lista-items">
    <li *ngFor="let pelicula of paginatedPeliculas; let i = index">
      <a [routerLink]="['/peliculas', pelicula.id]">
        {{ pelicula.Titulo }} ({{ pelicula.anio }})
      </a>
    </li>
  </ul>
  <app-paginacion 
    [totalItems]="peliculas.length" 
    [itemsPerPage]="itemsPerPage" 
    [currentPage]="currentPage" 
    (pageChange)="onPageChange($event)">
  </app-paginacion>
</div>
<ng-template #noPeliculas><p>No hay películas disponibles.</p></ng-template>
