<h2>Agregar un producto</h2>
<div class="container">
    <form
    #f="ngForm" (submit)="f.form.valid && enviarProducto($event)">

        <div>
            <input type="text" name="nombre" id="" placeholder="Nombre" [(ngModel)]="nombre" required>
        </div>
        <div>
            <input type="text" name="descripcion" id="" placeholder="Descripción" [(ngModel)]="descripcion" required>
        </div>
        <div>
            <input type="number" name="precio" id="" placeholder="Precio" [(ngModel)]="precio" required>
        </div>
        <div>
            <button type="submit">Guardar</button>
        </div>

        <div>
                    <button type="button" class="btn btn-danger mx-3" (click)="cancelar()">Cancelar</button>

        </div>

    </form>
</div>