<div class="paginacion-container">
  <button (click)="changePage(1)" [disabled]="currentPage === 1">Primera</button>
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>

  <ng-container *ngFor="let page of pages">
    <button *ngIf="typeof page === 'number'" (click)="changePage(page)" [class.active]="page === currentPage" [disabled]="page === currentPage">{{ page }}</button>
    <span *ngIf="typeof page === 'string'">{{ page }}</span>
  </ng-container>

  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
  <button (click)="changePage(totalPages)" [disabled]="currentPage === totalPages">Última</button>
</div>